.explain-wrap-shape {
  width: 100%;
  /* height: 92vh; */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 6px;
  background: #DAF2D5;
  font-family: 'Apple SD Gothic Neo';
}

.explain-mission-name-and-tag-area {
  margin: 38px 32px 36px 30px;
}

.explain-mission-name-text {
  font-size: 25px;
  margin: 0px 0px 10px 0px;
}

.explain-mission-tag-text {
  font-size: 15px;
  color: #868686;
}

.explain-mission-contents-text {
  margin-bottom: 0px;
  font-size: 15px;
}

.explain-mission-image-area {
  width: 338px;
  height: 338px;
  margin: 0px auto 38px auto;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.explain-button-go-camera {
  width: 70px;
  height: 70px;
  margin: 0px auto 50px auto;
  background: white;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.explain-button-go-camera-icon {
  font-size: 45px;
  margin-top: 6px;
}

.explain-mission-center-area {
  width: 338px;
  height: 338px;
  margin: 0px auto 38px auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explain-waiting-bar {
  width: 100%;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #B8DDE2;
  margin: 30px 0 82px 0;
}

.explain-back-div {
  width: 100%;
  height: 65px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  position: absolute;
  top: 0;
}