.explain-back-div {
  width: 100%;
  height: 65px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.explain-wrap-shape {
  width: 100%;
  /* height: 92vh; */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* margin-top: 6px; */
  font-family: "Apple SD Gothic Neo";
  background-color: #fcfcfa;
}

.explain-mission-close-button-area {
  height: 42px;
  display: flex;
  justify-content: flex-end;
}

.explain-mission-close-button {
  padding: 20px 18px 0px 0px;
  font-size: 25px;
  color: #c3c2c2;
}

.explain-mission-name-and-tag-area {
  margin: 0px 0px 36px 30px;
}

.explain-mission-name-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explain-mission-name-text {
  font-family: "AppleNeoR";
  font-size: 25px;
  line-height: 30px;
  margin: 0px 0px 10px 0px;
  color: #2b5139;
}

.explain-mission-tag-text {
  font-family: "AppleNeoM";
  line-height: 18px;
  font-size: 15px;
  margin: 2px 28px 0px 0px;
  color: #b8dde2;
}

.explain-mission-contents-text {
  font-family: "AppleNeoR";
  line-height: 18px;
  margin: 15px 28px 0px 0px;
  font-size: 15px;
  color: #2b5139;
}

.explain-mission-image-area {
  width: 338px;
  height: 338px;
  margin: 0px auto 38px auto;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.explain-button-go-camera {
  width: 70px;
  height: 70px;
  margin: 0px auto 50px auto;
  background: #fcfcfa;
  color: #50674c;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.explain-button-go-camera-icon {
  font-size: 45px;
  margin-top: 10px;
}

.explain-mission-center-area {
  /* width: 338px;
  height: 338px; */
  padding: 40px 36px 60px 36px;
  margin: 0px auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explain-mission-center-point-area {
}
.explain-mission-center-point-text {
  font-family: "AppleNeoM";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #b8dde2;
  margin: 30px 0px 20px 0px;
  /* box-shadow: 0px 3px 20px #e2e2e2; */
}

.explain-waiting-bar {
  font-size: 25px;
  font-family: "AppleNeoM";
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 30px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #b8dde2;
  margin: 30px 0 82px 0;
  padding: 8px 0px 10px 0px;
}
