.kakaoBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-left: 5px;
    height: 100%;

}