.kakaoBtn {
    position: relative;
    width: 142px;
    height: 34px;
    margin: 0 auto;
    padding-top: 4px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background: #b8dde2;
    color: white;
    border: none;
    font-family: 'Apple SD Gothic Neo';
    background-image: url(../../../public/images/FaviconLogo/kakaotalk_sharing_btn_small.png);
    background-repeat: no-repeat;
    background-position: 105px 7px;
    background-size: 26px;

}

.kakaoBtnTxt {
    position: absolute;
    margin-top: 6px;
    margin-left: 23px;
}