.wrap {
  display: flex;
  flex-direction: column;
  background: #daf2d5;
}
.camera {
  /* position: absolute; */
  /* top: 70px;  */
  width: 350px;
  height: 350px;
  z-index: 1;
  margin: 90px 0;
  /* background-color: black; */
}
.dummy-camera {
  height: 400px;
}
.control {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 40px;
  /* background: black */
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 39px ;
  }
.TakePhotoButton {
  background: url('https://img.icons8.com/ios/50/000000/compact-camera.png');
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 20px 90px;
}

.ChangeFacingCameraButton {
  background: url(https://img.icons8.com/ios/50/000000/switch-camera.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  padding: 20px 70px;
}
