.wrap {
  display: flex;
  flex-direction: column;
  background: #daf2d5;
}
.camera {
  /* position: absolute; */
  /* top: 70px;  */
  width: 350px;
  height: 350px;
  z-index: 1;
  margin: 90px 0;
  /* background-color: black; */
}
.dummy-camera {
  height: 400px;
}
.control {
  display: flex;
  height: 75px;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 40px;
  /* background: black */
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 39px;
  }
.center-icon-send{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 39px 0 32px;
}