.alarmall {
    background: #FCFCFA;
}

.alarm-back-arrow-area {
    margin: 8px 0px 16px 0px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 2.5px solid rgba(218, 218, 218, 0.15);
}

.alarm-back-arrow-icon {
    position: absolute;
    margin: 15px 0px 3px 6px;
    font-size: 36px;
    color: #C3C2C2;
}

.alarmallwrap {
    padding: 0px 0px 100px 20px;
}

.alarmwrap {
    margin: 0px 0px 0px 10px;
}

.alarmtext {
    position: relative;
    padding: 0px 0px 0px 150px;
    font-size: 20px;
    color: #50674C;
    font-weight: 600;
}

.alarmtitle {
    padding: 15px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    color: #2B5139;
}

.alarmtitle1-2 {
    padding: 64px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    color: #2B5139;
}


.alarmwrapm {
    padding: 0px 0px 0px 10px;
}

.alarmtitle1 {
    padding: 10px 0px 0px 0px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #2B5139;
}

.alarmtitle2 {
    padding: 30px 0px 0px 0px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #2B5139;
}

.alarmtitle3 {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
    line-height: 12px;
    color: #C3C2C2;
}

.alarmmaintitle {
    padding: 30px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    color: #2B5139;
}

.alarmbox {
    padding: 12px;
    width: 295px;
    height: 87.37px;
    background: #EEEEEE;
    border-radius: 10px;
}

.alarmboxtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #50674C;
}

.alarelement {

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #50674C;
    padding: 0px 0px 0px 0px;
}

.alarelement1 {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #50674C;
    padding: 0px 0px 0px 0px;
}

.alaema {
    position: absolute;
    margin: -35px 0px 0px 275px;
    color: #84CA79;
    font-size: 15px;
}

/* toggle switich */
.switch1 {
    position: absolute;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 150px;
}

.switch2 {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 140px;
}

.switch3 {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 210px;
}

.switch4 {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 190px;
}

.switch5 {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 200px;
}

.switch6 {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 25.19px;
    border-radius: 25px;
    margin: 0px 0px 0px 207px;
}


.switch input {
    opacity: 0;
    width: 20px;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -18px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #84CA79
}

input:focus+.slider {
    box-shadow: 0 0 1px #84CA79
}

input:checked+.slider:before {

    transform: translateX(26px);
}