.wrap-header {
  background-color: gray;
  z-index: 1;
}

.header-relative {
  position: relative;
}

.header-title {
  position: relative;
  text-align: center;
  background: #fff;
  color: #50674c;
  font-size: 20px;
  padding: 15px 14px 13px 14px;
}

.header-icon-left {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 14px;
}

.header-icon-right {
  position: absolute;
  font-size: 25px;
  top: 12px;
  right: 18px;
}
