.wrap-header {
  background-color: gray;
  z-index: 1;
}

.header-relative {
  position: relative;
}

.header-title {
  position: relative;
  text-align: center;
  height: 24px;
  background: #fff;
  font-size: 20px;
  padding: 13px;
}

.header-icon-left {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #a6fba4;
  top: 10px;
  left: 16px;
}

.header-icon-right {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 16px;
  margin-top: 2px;
  margin-right: 2px;
}
