.wrap-archive {
}

.back-and-settings-button-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
}

.back-button {
  font-size: 30px;
  margin: 6px 0px 0px 6px;
}

.settings-button {
  font-size: 22px;
  margin: 10px 16px 0px 0px;
}

.archive-grid-area {
  width: 100%;
  display: grid;
  /* gap: 15px; */
  grid-template-columns: 33% 33% 33%;
  row-gap: 3px;
  column-gap: 2px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.archive-image-div {
  width: 123px;
  height: 123px;
  background-color: #f3f3f3;
}
