.alarmlist-back-arrow-area {
  position: relative;
  margin: 8px 0px 0px 0px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2.5px solid rgba(218, 218, 218, 0.15);
}

.alarmlist-back-arrow-icon {
  margin: 2px 0px 5px 6px;
  font-size: 32px;
  color: #c3c2c2;
}

.alarmlist-title-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #50674c;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 0px 0px 5px;
}

.alarmlist-dummy-place {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #50674c;
  margin: 0 10px;
}

.alarmlist-dummy-div {
  height: 10px;
}

.alarmlist-box {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.alarmlist-contents-and-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alarmlist-contents-div {
  display: flex;
  margin: 20px 0;
}

.alarmlist-box-contents {
  width: 250px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #2b5139;
}

.alarmlist-box-time {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  margin-top: 5px;
  color: #868686;
}

.alarmlist-box-img-area {
  width: 50px;
  height: 50px;
  margin-left: 18px;
}

.alarmlist-box-img {
  width: 100%;
  height: 100%;
}
