.footer-box {
  border-top: 0.5px solid rgba(134, 134, 134, 0.7);
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.wrap-footer-icons {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 18px 32px 16px;
}

.footer-icon-1 {
  font-size: 28px;
}

.footer-icon-2 {
  margin-top: 2px;
  font-size: 24px;
}

.footer-icon-3 {
  font-size: 28px;
}
