.whole-mypage {
  background-color: #fcfcfa;
}

.mypage-three-dots-area {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 12px;
  margin: 2px 0px 5px 0px;
}

.mypage-three-dots-icon {
  font-size: 28px;
  color: #ade2e9;
}

/* 모달창 배경 */
.mypage-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(44, 44, 44, 0.322);
  z-index: 10;
}

/* 모달창 영역 */
.mypage-modal-close-button-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.mypage-modal-close-button {
  font-size: 25px;
  color: #c3c2c2;
  margin: 25px 25px 0px 0px;
}

.mypage-wrap-view-more {
  font-family: "AppleNeoR";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 44px 34px;
}

.mypage-modal-alarm-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  align-items: center;
}

.mypage-modal-alarm-text {
  cursor: pointer;
  margin-left: 16px;
  color: #84ca79;
  font-size: 16px;
  margin-bottom: 2px;
}

.mypage-modal-hidden-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.mypage-modal-hidden-text {
  cursor: pointer;
  margin-left: 15px;
  color: #84ca79;
  font-size: 16px;
  margin-bottom: 2px;
}

.mypage-modal-cc-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  align-items: center;
}

.mypage-modal-cc-text {
  cursor: pointer;
  margin-left: 16px;
  color: #84ca79;
  font-size: 16px;
  margin-bottom: 2px;
}

.mypage-modal-quit-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  align-items: center;
}

.mypage-modal-quit-text {
  cursor: pointer;
  margin-left: 16px;
  color: #868686;
  font-size: 16px;
  margin-bottom: 3px;
}

.mypage-modal-logout-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  align-items: center;
}

.mypage-modal-logout-text {
  cursor: pointer;
  margin-left: 16px;
  color: #6dbac5;
  font-size: 16px;
  margin-bottom: 2px;
}

.mypage-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mypage-flex-text {
  cursor: pointer;
  font-family: "AppleNeoR";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
  color: #84ca79;
}

.image-nick-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.image-area {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  /* margin-bottom: 16px; */
  object-fit: cover;
  box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.15);
}

.image-div {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.image-pencil-div {
  width: 32px;
  height: 22px;
  position: absolute;
  transform: translateX(50%);
}

.nick-and-email-area {
  margin: 10px 0px 10px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "AppleNeoB";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #50674c;
  margin-bottom: 7px;
  margin-top: 6px;
}

.email-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "AppleNeoR";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #50674c;
}

.mypage-mission-count {
  font-family: "AppleNeoR";
  font-size: 14px;
  text-align: center;
  color: #50674c;
}

.mypage-mission-point {
  font-family: "AppleNeoR";
  font-size: 14px;
  text-align: center;
  color: #50674c;
}

.photoshots-archive-area {
  width: 100%;
}

.photoshots-viewmore-box {
  width: 100%;
  height: 56px;
  background: #fcfcfa;
  display: flex;
  flex-direction: row;
}

.photoshots-text-and-icon {
  font-family: "AppleNeoR";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 10px 10px 10px;
}

.photoshots-text {
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
  color: #50674c;
}

.photoshots-text-none {
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
  color: #d9d9d9;
}

.photoshots-viewmore-icon {
  font-size: 20px;
  margin-top: 1px;
  color: #50674c;
}

.photoshots-viewmore-icon-none {
  font-size: 20px;
  margin-top: 5px;
  color: #d9d9d9;
}

.photoshots-archive-box {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.photoshots-archive-images {
  min-width: 145px;
  height: 145px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  margin-right: 3px;
  background: #f3f3f3;
}

.posts-archive-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts-viewmore-box {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  background-color: #fcfcfa;
}

.posts-text-and-icon {
  font-family: "AppleNeoR";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 10px 10px 10px;
}

.posts-text {
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
  color: #50674c;
}

.posts-text-none {
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
  color: #d9d9d9;
}

.posts-viewmore-icon {
  font-size: 20px;
  margin-top: 1px;
  color: #50674c;
}

.posts-viewmore-icon-none {
  font-size: 20px;
  margin-top: 5px;
  color: #d9d9d9;
}

.posts-archive-box {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.posts-archive-images {
  min-width: 145px;
  height: 145px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  margin-right: 3px;
  background: #f3f3f3;
}
