.back-and-settings-button-area {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.archive-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0;
  padding: 0 21px;
}

.DeleteLine {
  width: 358px;

  border: 0.5px solid #c3c2c2;
}

.archive-grid-area {
  width: 100%;
  /* display: grid; */
  /* gap: 15px; */
  grid-template-columns: 33% 33% 33%;
  row-gap: 3px;
  column-gap: 2px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.archive-image-div {
  width: 123px;
  height: 123px;
  background-color: #f3f3f3;
}
.archive-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.archive-flex-text {
  font-family: "AppleNeoM";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
  color: #84ca79;
  padding: 150px 0px 0px 0px;
}
