.floating-round {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 100px;
  background: #ade2e9;
  position: fixed;
  bottom: 145px;
  right: 20px;
  z-index: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.floating-icon {
  font-size: 30px;
  margin: 6px 0px 0px 6px;
  color: white;
}

.mission-event-image {
  width: 100%;
  margin: -2px 0px 0px 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-notice-area {
  width: 100%;
  margin: -2px 0px 0px 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-notice-box {
  width: 415px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aee1e9;
}
.mission-notice-text {
  font-family: "AppleNeoSB";
  font-size: 22px;
  font-weight: 800;
  color: #51684d;
}
