.challengeBox {
    position: absolute;
    width: 343px;
    height: 181px;
    background: #F3F3F3;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px;
    /* padding: 14px 14px 14px 20.5px; */
}