.WaitingMissionBox {
    position: relative;
    height: 876px;
    background: #F3F3F3;
    top: 221px;
    display: flex;

}


.WaitingMission {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 165px;
    height: 190px;
    border-radius: 5px;
    margin: 26px 23px 0 16px;
}


.WaitingMiniBox {
    position: absolute;
    width: 145px;
    height: 144px;
    background: rgba(128, 128, 128, 0.5);
    ;
    ;
    margin: 10px 10px 36px 10px;
}

.WaitingMissionName {
    position: absolute;
    padding: 153px 43px 10px 45px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.Waitingtext {
    margin: 0;
    color: #FFF;
    text-align: center;
    padding: 70px 0 0 0;
    font-size: 15px;
}