body {
  max-width: 375px;
  /* max-height: 667px; */
  height: 100vh;

  margin: auto;
  font-family: "tway_sky";

}

/* 폰트*/
@font-face {
  font-family: "BlackhanSans";
  src: url("./Components//fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
  font-family: "Yfont";
  src: url("./Components/fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("./Components/fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "tway_sky";
  src: url("./Components/fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./Components/fonts/AppleSDGothicNeoM.ttf");
}