.detail-posts-wrap-shape {
  background-color: #fcfcfa;
  width: 100%;
  /* height: 92vh; */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 6px;
  background-color: #f9fdf9;
}

.detail-posts-mission-name-and-tag-area {
  margin: 38px 0px 36px 30px;
}

.detail-posts-mission-name-text {
  font-size: 25px;
  /* margin: 0px 32px 10px 0px; */
  color: #84ca79;
}

.detail-posts-mission-tag-text {
  font-size: 15px;
  color: #b8dde2;
}
.detail-posts-mission-icon-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
}
.detail-posts-mission-icon{
  margin: 0 5px;
}
.detail-posts-mission-img-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail-posts-mission-image-area {
  width: 90%;
  height: 338px;
  margin: 0px auto 38px auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.detail-posts-mission-name-area {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.detail-posts-clap-area {
  display: flex;
  margin-right: 30px;
}
.detail-posts-clap-point {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #84ca79;
  margin: 0 10px;
}
.detail-posts-flex-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail-posts-mission-contents-box {
  width: 338px;
  height: 80px;
  margin-left: 18px;
  border-radius: 5px;
  background-color: #ffffff;
}

.detail-posts-mission-contents-text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 10px;
  padding: 0px 2px;
  white-space: pre-line;
}

.detail-posts-button-share {
  width: 130px;
  height: 30px;
  margin: 30px auto 60px auto;
  padding-top: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  background-color: #b8dde2;
}
